<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-word" class="control-label col-xs-12 col-sm-2">{:__('Word')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-word" class="form-control" name="row[word]" type="text" value="{$row.word}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-seq" class="control-label col-xs-12 col-sm-2">{:__('Seq')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seq" class="form-control" name="row[seq]" type="number" value="{$row.seq}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-rel_word" class="control-label col-xs-12 col-sm-2">{:__('Rel_word')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rel_word" class="form-control" name="row[rel_word]" type="text" value="{$row.rel_word}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-frequency2" class="control-label col-xs-12 col-sm-2">{:__('Frequency2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-frequency2" class="form-control" name="row[frequency2]" type="number" value="{$row.frequency2}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
