<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-record_id" class="control-label col-xs-12 col-sm-2">{:__('Record_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-record_id" data-rule="required" data-source="record/index" class="form-control selectpage" name="row[record_id]" type="text" value="{$row.record_id}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-A" class="control-label col-xs-12 col-sm-2">{:__('A')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-A" class="form-control" name="row[A]" type="text" value="{$row.A}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-B" class="control-label col-xs-12 col-sm-2">{:__('B')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-B" class="form-control" name="row[B]" type="text" value="{$row.B}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-C" class="control-label col-xs-12 col-sm-2">{:__('C')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-C" class="form-control" name="row[C]" type="text" value="{$row.C}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-D" class="control-label col-xs-12 col-sm-2">{:__('D')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-D" class="form-control" name="row[D]" type="text" value="{$row.D}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-E" class="control-label col-xs-12 col-sm-2">{:__('E')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-E" class="form-control" name="row[E]" type="text" value="{$row.E}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-F" class="control-label col-xs-12 col-sm-2">{:__('F')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-F" class="form-control" name="row[F]" type="text" value="{$row.F}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-G" class="control-label col-xs-12 col-sm-2">{:__('G')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-G" class="form-control" name="row[G]" type="text" value="{$row.G}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-H" class="control-label col-xs-12 col-sm-2">{:__('H')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-H" class="form-control" name="row[H]" type="text" value="{$row.H}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-I" class="control-label col-xs-12 col-sm-2">{:__('I')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-I" class="form-control" name="row[I]" type="text" value="{$row.I}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-J" class="control-label col-xs-12 col-sm-2">{:__('J')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-J" class="form-control" name="row[J]" type="text" value="{$row.J}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-K" class="control-label col-xs-12 col-sm-2">{:__('K')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-K" class="form-control" name="row[K]" type="text" value="{$row.K}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-L" class="control-label col-xs-12 col-sm-2">{:__('L')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-L" class="form-control" name="row[L]" type="text" value="{$row.L}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-M" class="control-label col-xs-12 col-sm-2">{:__('M')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-M" class="form-control" name="row[M]" type="text" value="{$row.M}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-N" class="control-label col-xs-12 col-sm-2">{:__('N')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-N" class="form-control" name="row[N]" type="text" value="{$row.N}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-O" class="control-label col-xs-12 col-sm-2">{:__('O')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-O" class="form-control" name="row[O]" type="text" value="{$row.O}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-P" class="control-label col-xs-12 col-sm-2">{:__('P')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-P" class="form-control" name="row[P]" type="text" value="{$row.P}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-Q" class="control-label col-xs-12 col-sm-2">{:__('Q')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Q" class="form-control" name="row[Q]" type="text" value="{$row.Q}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-R" class="control-label col-xs-12 col-sm-2">{:__('R')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-R" class="form-control" name="row[R]" type="text" value="{$row.R}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-S" class="control-label col-xs-12 col-sm-2">{:__('S')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-S" class="form-control" name="row[S]" type="text" value="{$row.S}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-T" class="control-label col-xs-12 col-sm-2">{:__('T')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-T" class="form-control" name="row[T]" type="text" value="{$row.T}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-U" class="control-label col-xs-12 col-sm-2">{:__('U')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-U" class="form-control" name="row[U]" type="text" value="{$row.U}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-V" class="control-label col-xs-12 col-sm-2">{:__('V')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-V" class="form-control" name="row[V]" type="text" value="{$row.V}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-W" class="control-label col-xs-12 col-sm-2">{:__('W')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-W" class="form-control" name="row[W]" type="text" value="{$row.W}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-X" class="control-label col-xs-12 col-sm-2">{:__('X')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-X" class="form-control" name="row[X]" type="text" value="{$row.X}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-Y" class="control-label col-xs-12 col-sm-2">{:__('Y')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Y" class="form-control" name="row[Y]" type="text" value="{$row.Y}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-Z" class="control-label col-xs-12 col-sm-2">{:__('Z')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Z" class="form-control" name="row[Z]" type="text" value="{$row.Z}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AA" class="control-label col-xs-12 col-sm-2">{:__('Aa')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AA" class="form-control" name="row[AA]" type="text" value="{$row.AA}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AB" class="control-label col-xs-12 col-sm-2">{:__('Ab')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AB" class="form-control" name="row[AB]" type="text" value="{$row.AB}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AC" class="control-label col-xs-12 col-sm-2">{:__('Ac')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AC" class="form-control" name="row[AC]" type="text" value="{$row.AC}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AD" class="control-label col-xs-12 col-sm-2">{:__('Ad')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AD" class="form-control" name="row[AD]" type="text" value="{$row.AD}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AE" class="control-label col-xs-12 col-sm-2">{:__('Ae')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AE" class="form-control" name="row[AE]" type="text" value="{$row.AE}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AF" class="control-label col-xs-12 col-sm-2">{:__('Af')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AF" class="form-control" name="row[AF]" type="text" value="{$row.AF}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AG" class="control-label col-xs-12 col-sm-2">{:__('Ag')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AG" class="form-control" name="row[AG]" type="text" value="{$row.AG}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AH" class="control-label col-xs-12 col-sm-2">{:__('Ah')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AH" class="form-control" name="row[AH]" type="text" value="{$row.AH}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AI" class="control-label col-xs-12 col-sm-2">{:__('Ai')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AI" class="form-control" name="row[AI]" type="text" value="{$row.AI}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AJ" class="control-label col-xs-12 col-sm-2">{:__('Aj')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AJ" class="form-control" name="row[AJ]" type="text" value="{$row.AJ}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AK" class="control-label col-xs-12 col-sm-2">{:__('Ak')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AK" class="form-control" name="row[AK]" type="text" value="{$row.AK}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AL" class="control-label col-xs-12 col-sm-2">{:__('Al')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AL" class="form-control" name="row[AL]" type="text" value="{$row.AL}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AM" class="control-label col-xs-12 col-sm-2">{:__('Am')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AM" class="form-control" name="row[AM]" type="text" value="{$row.AM}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AN" class="control-label col-xs-12 col-sm-2">{:__('An')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AN" class="form-control" name="row[AN]" type="text" value="{$row.AN}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AO" class="control-label col-xs-12 col-sm-2">{:__('Ao')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AO" class="form-control" name="row[AO]" type="text" value="{$row.AO}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AP" class="control-label col-xs-12 col-sm-2">{:__('Ap')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AP" class="form-control" name="row[AP]" type="text" value="{$row.AP}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AQ" class="control-label col-xs-12 col-sm-2">{:__('Aq')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AQ" class="form-control" name="row[AQ]" type="text" value="{$row.AQ}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AR" class="control-label col-xs-12 col-sm-2">{:__('Ar')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AR" class="form-control" name="row[AR]" type="text" value="{$row.AR}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AS1" class="control-label col-xs-12 col-sm-2">{:__('As1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AS1" class="form-control" name="row[AS1]" type="text" value="{$row.AS1}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AT" class="control-label col-xs-12 col-sm-2">{:__('At')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AT" class="form-control" name="row[AT]" type="text" value="{$row.AT}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AU" class="control-label col-xs-12 col-sm-2">{:__('Au')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AU" class="form-control" name="row[AU]" type="text" value="{$row.AU}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AV" class="control-label col-xs-12 col-sm-2">{:__('Av')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AV" class="form-control" name="row[AV]" type="text" value="{$row.AV}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AW" class="control-label col-xs-12 col-sm-2">{:__('Aw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AW" class="form-control" name="row[AW]" type="text" value="{$row.AW}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AX" class="control-label col-xs-12 col-sm-2">{:__('Ax')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AX" class="form-control" name="row[AX]" type="text" value="{$row.AX}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AY" class="control-label col-xs-12 col-sm-2">{:__('Ay')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AY" class="form-control" name="row[AY]" type="text" value="{$row.AY}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-AZ" class="control-label col-xs-12 col-sm-2">{:__('Az')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-AZ" class="form-control" name="row[AZ]" type="text" value="{$row.AZ}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BA" class="control-label col-xs-12 col-sm-2">{:__('Ba')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BA" class="form-control" name="row[BA]" type="text" value="{$row.BA}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BB" class="control-label col-xs-12 col-sm-2">{:__('Bb')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BB" class="form-control" name="row[BB]" type="text" value="{$row.BB}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BC" class="control-label col-xs-12 col-sm-2">{:__('Bc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BC" class="form-control" name="row[BC]" type="text" value="{$row.BC}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BD" class="control-label col-xs-12 col-sm-2">{:__('Bd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BD" class="form-control" name="row[BD]" type="text" value="{$row.BD}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BE" class="control-label col-xs-12 col-sm-2">{:__('Be')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BE" class="form-control" name="row[BE]" type="text" value="{$row.BE}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BF" class="control-label col-xs-12 col-sm-2">{:__('Bf')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BF" class="form-control" name="row[BF]" type="text" value="{$row.BF}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BG" class="control-label col-xs-12 col-sm-2">{:__('Bg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BG" class="form-control" name="row[BG]" type="text" value="{$row.BG}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BH" class="control-label col-xs-12 col-sm-2">{:__('Bh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BH" class="form-control" name="row[BH]" type="text" value="{$row.BH}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BI" class="control-label col-xs-12 col-sm-2">{:__('Bi')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BI" class="form-control" name="row[BI]" type="text" value="{$row.BI}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BJ" class="control-label col-xs-12 col-sm-2">{:__('Bj')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BJ" class="form-control" name="row[BJ]" type="text" value="{$row.BJ}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BK" class="control-label col-xs-12 col-sm-2">{:__('Bk')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BK" class="form-control" name="row[BK]" type="text" value="{$row.BK}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-BL" class="control-label col-xs-12 col-sm-2">{:__('Bl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BL" class="form-control" name="row[BL]" type="text" value="{$row.BL}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-tb_year" class="control-label col-xs-12 col-sm-2">{:__('Tb_year')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tb_year" data-rule="required" class="form-control" name="row[tb_year]" type="number" value="{$row.tb_year}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-tb_month" class="control-label col-xs-12 col-sm-2">{:__('Tb_month')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tb_month" data-rule="required" class="form-control" name="row[tb_month]" type="number" value="{$row.tb_month}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-isconfirm" class="control-label col-xs-12 col-sm-2">{:__('Isconfirm')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-isconfirm" data-rule="required" class="form-control" name="row[isconfirm]" type="number" value="{$row.isconfirm}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
