<form id="add-form" class="form-horizontal" role="" enctype="multipart/form-data" data-toggle="validator" method="POST" action="">

    <div class="form-group" id="name">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">姓名所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name"  data-rule="" class="form-control "  name="name" type="text" >
        </div>

    </div>

    <div class="form-group" id="type">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">员工类型所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type"  data-rule="" class="form-control "  name="type" type="text" >
        </div>

    </div>

    <div class="form-group" id="describe">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">岗位所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-describe"  data-rule="" class="form-control "  name="describe" type="text" >
        </div>

    </div>

    <div class="form-group" id="d5">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">所在部门(第五级)所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-d5"  data-rule="" class="form-control "  name="d5" type="text" >
        </div>

    </div>

    <div class="form-group" id="join_date">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">入职日期所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-join_date"  data-rule="" class="form-control "  name="join_date" type="text" >
        </div>

    </div>

    <div class="form-group" id="idcard">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">身份证所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard"  data-rule="" class="form-control "  name="idcard" type="text" >
        </div>
    </div>

    <div class="form-group" id="bank_card">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">银行卡所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_card"  data-rule="" class="form-control "  name="bank_card" type="text" >
        </div>
    </div>

    <div class="form-group" id="bank_name">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">开户行所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_name"  data-rule="" class="form-control "  name="bank_name" type="text" >
        </div>
    </div>
    <div class="form-group" id="contact_moblie">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">电话号码所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact_moblie"  data-rule="" class="form-control "  name="contact_moblie" type="text" >
        </div>
    </div>

    <div class="form-group" id="d1">
        <label for="c-d1" class="control-label col-xs-12 col-sm-2">一级部门所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-d1"  data-rule="" class="form-control "  name="d1" type="text" >
        </div>

    </div>

    <div class="form-group" id="d2">
        <label for="c-d2" class="control-label col-xs-12 col-sm-2">二级部门所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-d2"  data-rule="" class="form-control "  name="d2" type="text" >
        </div>

    </div>

    <div class="form-group" id="d3">
        <label for="c-d3" class="control-label col-xs-12 col-sm-2">三级部门所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-d3"  data-rule="" class="form-control "  name="d3" type="text" >
        </div>

    </div>

    <div class="form-group" id="d4">
        <label for="c-d4" class="control-label col-xs-12 col-sm-2">四级部门所在列:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-d4"  data-rule="" class="form-control "  name="d4" type="text" >
        </div>

    </div>

    <div class="form-group" id="file">
        <label for="c-file" class="control-label col-xs-12 col-sm-2">选择EXCEl:</label>
        <input type="file" id="exampleInputFile" name="file">
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed ">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

