<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <?php if($auth->check('enterprise/importsalary/add')){ ?>
                        <a id="plupload-local" title="导入工资" class="btn btn-primary addtabsit" data-input-id="c-local2" href="{:url('/admin/enterprise/importsalary/add')}"><i class="fa fa-upload"></i> 导入工资</a>
                        <?php } ?>

                        <?php if($auth->check('enterprise/importsalary/add')){ ?>
                        <a id="plupload-local1" title="导入奖励" class="btn btn-primary addtabsit" data-input-id="c-local2" href="{:url('/admin/enterprise/importprice/add')}"><i class="fa fa-upload"></i> 导入奖励</a>
                        <?php } ?>

                        <?php if($auth->check('enterprise/outputsalary/add')){ ?>
                        <a  title="导出工资" class="btn btn-primary addtabsit" data-input-id="c-local2" href="{:url('/admin/enterprise/outputsalary/add')}"><i class="fa fa-upload"></i> 导出工资</a>
                        <?php } ?>

                        <?php if($auth->check('enterprise/Autoconvert/add')){ ?>
                        <a  title="自动兑换" class="btn btn-primary addtabsit" data-input-id="c-local2" href="{:url('/admin/enterprise/Autoconvert/add')}"><i class="fa fa-upload"></i> 自动确认</a>
                        <?php } ?>

                        <?php if($auth->check('enterprise/Autoconvert/add')){ ?>
                        <a  title="奋斗金总流水" class="btn btn-primary addtabsit" data-input-id="c-local2" href="{:url('/admin/enterprise/Autoconvert/water')}"><i class="fa fa-upload"></i> 导出奋斗金总流水</a>
                        <?php } ?>
                        <!--<button id="plupload-local2" class="btn btn-primary plupload" data-input-id="c-local2" data-url="{:url('/admin/enterprise/salary/excel/type/2')}"><i class="fa fa-upload"></i> 导入奖金</button>-->
                        <!--<div class="dropdown btn-group {:$auth->check('enterprise/salary/multi')?'':'hide'}">-->
                            <!--<a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>-->
                            <!--<ul class="dropdown-menu text-left" role="menu">-->
                                <!--<li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>-->
                                <!--<li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-edit="{:$auth->check('enterprise/salary/edit')}" 
                           data-operate-del="{:$auth->check('enterprise/salary/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">导入成功</h4>
            </div>
            <div class="modal-body" id="modal-text">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>

            </div>
        </div>
    </div>
</div>