<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-sex" class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-sex" data-rule="required" class="form-control selectpicker" name="row[sex]">
                {foreach name="sexList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.sex"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="c-jointime" class="control-label col-xs-12 col-sm-2">{:__('Jointime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jointime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[jointime]" type="text" value="{$row.jointime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-leavetime" class="control-label col-xs-12 col-sm-2">{:__('Leavetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-leavetime" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[leavetime]" type="text" value="{$row.leavetime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-city_id" class="control-label col-xs-12 col-sm-2">{:__('City_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_id" data-rule="required" data-source="city/index" class="form-control selectpage" name="row[city_id]" type="text" value="{$row.city_id}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-site_id" class="control-label col-xs-12 col-sm-2">{:__('Site_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-blesite_id" data-rule="required" data-source="site/index" class="form-control selectpage" name="row[blesite_id]" type="text" value="{$row.blesite_id}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-site_id" class="control-label col-xs-12 col-sm-2">领餐站点:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-site_id" data-rule="required" data-source="site/index" class="form-control selectpage" name="row[site_id]" type="text" value="{$row.site_id}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-idcard" class="control-label col-xs-12 col-sm-2">{:__('Idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" data-rule="required;IDcard" class="form-control" name="row[idcard]" type="text" value="{$row.idcard}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="text" value="{$row.mobile}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-stationmaster" class="control-label col-xs-12 col-sm-2">{:__('Stationmaster')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-stationmaster" data-rule="required" class="form-control selectpicker" name="row[stationmaster]">
                {foreach name="stationmasterList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.stationmaster"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="c-workstatus" class="control-label col-xs-12 col-sm-2">{:__('Workstatus')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="workstatusList" item="vo"}
            <label for="row[workstatus]-{$key}"><input id="row[workstatus]-{$key}" name="row[workstatus]" type="radio" value="{$key}" {in name="key" value="$row.workstatus"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group <?php if($row['workstatus']=='休假') echo 'show';else echo 'hidden'; ?> xjtime">
        <label for="c-jointime" class="control-label col-xs-12 col-sm-2">休假开始时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-starttime" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[starttime]" type="text" value="<?php if(!empty($row['open_id'])){echo explode('|',$row['open_id'])[0];} ?>">
        </div>
    </div>
    <div class="form-group <?php if($row['workstatus']=='休假') echo 'show';else echo 'hidden'; ?> xjtime">
        <label for="c-leavetime" class="control-label col-xs-12 col-sm-2">休假结束时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[endtime]" type="text" value="<?php if(!empty($row['open_id'])){echo explode('|',$row['open_id'])[1];} ?>">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
